#nav{
 background-color:yellow;
 color: BLACK;
 width:400px;
 float: left;
 margin-right:auto;
 text-align:left;
}

#nav .selected {
 font_weight:italics;
}
 
#content{
 background-color:#B6C9A2;
color: black;
width: 900px;
float: right;

}
#title{
 background-color: green;
 color: white;
 text-align:center;
}

body {
 background-color:#82FB02;
 padding: 20px;
 clear:both;
}

#main {
 background-color:orange;
 padding: 20px;
 clear:both;
} 